.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }
    
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-copy {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    color: #ffffff;
  }



